h1{
    font-size: 42px;
    text-align: center; /*  по центру */
    margin: 20px 0; /* отступы сверху и снизу*/
}

body{
    background-color: rgb(179, 134, 66);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* три колонки */
    grid-auto-rows: auto; /* высота строк автоматическая */
    padding: 10px; /* отступ для контейнера */
}

.grid-item {
    display: flex;
    flex-direction: column; /* изображение и текст будут располагаться друг под другом */
    justify-content: center; /* центрирование по вертикали, поменяли оси */
    align-items: center; /* центрирование по горизонтали */
    padding: 10px; /* отступ внутри карточки */
    height: 300px;
    background-color: #cac4c4; /* фон для карточки */
    border-radius: 8px; /* скругленные углы */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* тень */ 
    position: relative; /* относительное позиционирование = важно для позиционирования текста */
}

.grid-item img {
    display: flex;
    max-width: 100%; /* изображение не выходит за пределы карточки */
    height: auto; /* сохраняется пропорция изображения */
    border-radius: 8px; /* скругленные углы для изображения */
    }

.mytext {
    font-size: 22px !important; /* размер шрифта для текста */
    color: #333; /* цвет текста */
    text-align: center; /* текст будет выровнен по центру */
    word-wrap: break-word; /* перенос длинных слов */
    bottom: 15px; /* 10px от низа карточки */
    left: 10px; /* отступ от левого края */
    right: 10px; /* отступ от правого края */
    position: absolute; /* абсолютное позиционирование текста */
}


