h1{
    font-size: 42px;
    text-align: center; /*  по центру */
    margin: 20px 0; /* отступы сверху и снизу*/
}

body{
    background-color: rgb(179, 134, 66);
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* три колонки */
    grid-auto-rows: auto; /* высота автоматичеcкая строк */
    padding: 10px; /* отступ для контейнера */
}

.grid-item {
    display: flex;
    flex-direction: column; /* изображение и текст будут располагаться друг под другом */
    justify-content: center; /* центрирование по вертикали, поменяли оси */
    align-items: center; /* центрирование по горизонтали */
    text-align: left; /* текст будет выровнен по левой стороне */
    padding: 10px; /* отступ внутри карточки */
    background-color: #cac4c4; /* фон для карточки */
    border-radius: 8px; /* скругленные углы */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* тень */
}

.grid-item img {
    max-width: 100%; /* Изображение не выходит за пределы карточки */
    height: auto; /* Сохраняется пропорция изображения */
    border-radius: 8px; /* Скругленные углы для изображения */
}
.mytext {
    margin: 10px 15px; /* отступ между изображением и текстом */
    word-wrap: break-word; /* перенос длинных слов */
    font-size: 18px !important; /* размер шрифта для текста */
    color: #333; /* цвет текста */
}


