
body {
    display: flex;
    flex-direction: column;  /* поменяли направление во флекс-контейнере, гл.ось - вертикальная*/
    align-items: center;  /* всегда работает с второстепенной */

}

.animal-card > img {
    width: 300px;
}

.animal-card {
    display: flex;
    flex-direction: column;  /* поменяли направление во флекс-контейнере, гл.ось - вертикальная*/
    align-items: center;  /* всегда работает с второстепенной */
    justify-content: center; /* всегда работает с главной осью */
    background-color: beige;
    width: 350px;
    height: 300px;
}

.animal-gallery
{   
    padding: 15px 0px;
    display: flex;
    gap: 10px;  /* задает промежуток между элементами */
    background-color: rgb(185, 180, 159);
    min-height: 900px;
    border: 1.5px solid;
    /* justify-content: center;  */  /* центровать по главной оси */
/* разделили равномерно свободное пространство между элементами */
    justify-content: center; 
    /* align-items управляет поведением flex элементов по поперечной оси; */
    align-items: center;
    flex-wrap: wrap; /* перенос на следующую строку */
    align-content: center; /* отвечает за за сгруппированное положение карточек при 
    переносе карточек через  flex-wrap */
}