* {
    box-sizing: border-box; 
}

body {
    background-color: rgb(177, 209, 229);   
    margin: 10;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}